
.main {
    position: relative;
    z-index: 1;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 24px 60px;
}

.topContainer {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 3.2rem;
    width: 95%;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    gap: 2.5rem;
}


.infoCard {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 2.5rem;
    margin-right: 110px;
    align-items: flex-start;
    gap: 0px;

    background: #fff;
    border-radius: 12px;
    padding: 18px 20px;
    display: flex;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.2s;
    margin-bottom: 6rem;

}

.infoCardHeader {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding-bottom: 0.5rem;
}

.infoCardText {
    color: #000;
    margin: 0;
    padding-bottom: 1rem;
}