.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.courseList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container {
    font-family: 'DM Sans', sans-serif;
    background: #FFF;
    min-height: 100vh; 
    display: flex;
}
